#metronome {
    background-color: #c4cecf;
    padding: 1em;
    margin: 2em;
    border-radius: 2em;
    text-align: center;
}

#btnDecreaseBPM {
    background-color: #cfc4c4;
}

#btnIncreaseBPM {
    background-color: #cfc4c4;
}

input {
    border-radius: 1em;
    padding: 1em;
    margin: 0.2em;
    text-align: center;
}

#txtBPM {
    font-size: 2em;
}
